<div class="videos">
  <!-- List of videos -->
  @for (video of videos; track video) {
  <div class="video" (click)="openCurrentVideo(video.id)">
    <div class="banner">
      <img
        [ngClass]="{ selected: video.id === currentVideo?.id }"
        [src]="getThumbnailUrl(video.id, video.file_name)"
        alt=""
      />
    </div>
    <div *ngIf="watchedVideos.includes(video.id)" class="watched">
      <img src="./assets/img/open-eye.svg" alt="" />
    </div>
  </div>
  }

  <!-- Scroll buttons -->
  <div class="scroll-buttons">
    <img
      class="scroll-left"
      (click)="scrollLeft($event)"
      src="./assets/img/arrow_back.svg"
      alt=""
    />
    <img
      class="scroll-right"
      (click)="scrollRight($event)"
      src="./assets/img/arrow_forward.svg"
      alt=""
    />
  </div>
</div>
