@import "./../../../../assets/style/colors.scss";
@import "./../../../../assets/style/form.scss";
@import "./../../../../assets/style/auth-layout.scss";

section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./../../../../assets/img/backgrounds/register.png);
}

.reg-success {
  p {
    color: $black;
    font-size: 18px;
    font-weight: 400;
    margin: 36px 0 24px 0;
  }
  a {
    font-size: 18px;
    font-weight: 700;
    color: $blue;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
