<section>
  <div class="content">
    <div class="headline">Sign Up</div>
    <form
      id="form"
      class="register-form"
      #taskForm="ngForm"
      (ngSubmit)="onSubmit(taskForm)"
      onsubmit="return false"
    >
      <input
        type="mail"
        id="mail"
        name="mail"
        #mail="ngModel"
        placeholder="Email Address"
        autocomplete="email"
        [(ngModel)]="authData.mail"
        disabled
        required
      />
      <div class="error-msg"></div>
      <input
        type="password"
        id="password"
        name="password"
        #password="ngModel"
        placeholder="Enter a password"
        autocomplete="new-password"
        [(ngModel)]="authData.password"
        pattern="[^<>]*"
        minlength="6"
        required
      />
      <div class="error-msg">
        @if (authData.password.length < 6 && password.touched) {
        <p>Password is too short, min 6 characters</p>
        }
      </div>
      <input
        type="password"
        id="passwordConfirm"
        name="passwordConfirm"
        #passwordConfirm="ngModel"
        placeholder="Confirm password"
        autocomplete="new-password"
        [(ngModel)]="authData.passwordConfirm"
        pattern="[^<>]*"
        minlength="6"
        required
      />
      <div class="error-msg">
        @if (authData.password !== authData.passwordConfirm &&
        passwordConfirm.touched) {
        <p>The passwords do not match</p>
        }
      </div>
      <app-btn-large
        [value]="'Get Started'"
        [disabled]="
          !isUserEmailValid(authData.mail) && authData.mail.length > 0
        "
      ></app-btn-large>
    </form>
  </div>
</section>
