<section>
  <div class="content">
    <div class="headline">Sign Up</div>
    <form
      id="form"
      class="register-form"
      #registerForm="ngForm"
      (ngSubmit)="onSubmit(registerForm)"
      onsubmit="return false"
    >
      <input
        type="mail"
        id="mail"
        name="mail"
        #mail="ngModel"
        placeholder="Email Address"
        autocomplete="email"
        [(ngModel)]="authData.mail"
        disabled
        required
      />
      <div class="error-msg">
        @if (!authData.params) {
        <p>Click <a routerLink="">here</a> to resend the registration email.</p>
        }
      </div>
      <input
        type="password"
        id="password"
        name="password"
        #password="ngModel"
        placeholder="Enter a password"
        autocomplete="new-password"
        [(ngModel)]="authData.password"
        pattern="[^<>]*"
        minlength="6"
        [class.error-border]="
          password.invalid && password.touched && authData.password.length < 6
        "
        [disabled]="!authData.params"
        required
      />
      <div class="error-msg">
        @if (!password.valid && password.touched && authData.password.length <
        1) {
        <p>Please enter a password</p>
        } @else { @if (authData.password && authData.password.length < 6 &&
        password.touched) {
        <p>Password is too short, min 6 characters</p>
        } }
      </div>
      <input
        type="password"
        id="passwordConfirm"
        name="passwordConfirm"
        #passwordConfirm="ngModel"
        placeholder="Confirm password"
        autocomplete="new-password"
        [(ngModel)]="authData.passwordConfirm"
        pattern="[^<>]*"
        minlength="6"
        [class.error-border]="
          authData.password !== authData.passwordConfirm &&
          passwordConfirm.touched
        "
        [disabled]="!authData.params"
        required
      />
      <div class="error-msg">
        @if (authData.password !== authData.passwordConfirm &&
        passwordConfirm.touched) {
        <p>The passwords do not match</p>
        }
      </div>
      <app-btn-large
        [value]="'Get Started'"
        [disabled]="
          (!isUserEmailValid(authData.mail) && authData.mail.length > 0) ||
          !authData.params ||
          authData.password !== authData.passwordConfirm ||
          !authData.password ||
          !authData.passwordConfirm
        "
      ></app-btn-large>
    </form>
  </div>
</section>
