@import "./../../../../assets/style/colors.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 88px;
  padding: 10px 48px;
  z-index: 1;
}

.logo,
.logo-full,
.logo-mobile {
  cursor: pointer;
  img {
    filter: drop-shadow(1px 1px 3px $black);
    width: auto;
    height: 32px;
  }
}

.logo-mobile {
  display: none;
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 600px) {
  header {
    padding: 10px 24px;
  }

  .logo-full {
    display: none;
  }

  .logo-mobile {
    display: block;
  }
}
