<header>
  @if (browse) {
  <div class="logo" (click)="backToOverview([])">
    <img src="./../../../../assets/img/logo_ci.svg" alt="" />
  </div>
  <div class="btn">
    <app-btn-large
      [value]="'Log Out'"
      [imgPath]="'logout'"
      (click)="logout()"
    ></app-btn-large>
  </div>
  } @else {
  <div class="logo-full" routerLink="/">
    <img src="./../../../../assets/img/logo_full.svg" alt="" />
  </div>
  <div class="logo-mobile" routerLink="/">
    <img src="./../../../../assets/img/logo_ci.svg" alt="" />
  </div>
  <div class="btn">
    <app-btn-large [value]="'Log in'" routerLink="/login"></app-btn-large>
  </div>
  }
</header>
