@import "./../../../../assets/style/colors.scss";
@import "./../../../../assets/style/form.scss";
@import "./../../../../assets/style/auth-layout.scss";

section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./../../../../assets/img/backgrounds/login.png);
}

.content {
  position: relative;
}

.checkbox {
  display: flex;
  align-items: center;
  width: 90%;
  height: 24px;
  margin-bottom: 24px;
  input {
    width: 16px;
    height: 16px;
    margin: 12px;
  }
  label {
    width: fit-content;
    font-size: 16px;
    font-weight: 400;
    color: $black;
  }
}

.footer {
  margin-top: 36px;
  a {
    font-size: 18px;
    font-weight: 700;
    color: $blue;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .footer-content {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 24px;
    p {
      font-size: 18px;
      font-weight: 700;
      color: $black;
    }
  }
}
