<section class="login-background">
  <div class="content">
    <div class="headline">Log in</div>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      (input)="this.errorService.clearError()"
    >
      <div class="email-field">
        <input
          formControlName="email"
          type="email"
          id="email"
          placeholder="Email Address"
          autocomplete="email"
          [class.error-border]="
            form.controls['email'].invalid && form.controls['email'].touched
          "
        />
        <img class="email-icon" src="./assets/img/email.svg" />
      </div>

      <div class="error-container">
        @if (form.controls['email'].touched && form.controls['email'].invalid) {
        <div class="error-msg">
          @if (form.controls['email'].errors?.['required']) {
          <p role="alert">Please enter your email</p>
          } @if (form.controls['email'].errors?.['invalidEmailFormat']) {
          <p role="alert">This is not a valid email format</p>
          }
        </div>
        }
      </div>

      <div class="password-field">
        <input
          [type]="authService.passwordFieldType"
          id="password"
          formControlName="password"
          placeholder="Enter a password"
          autocomplete="new-password"
          minlength="8"
          [class.error-border]="
            form.controls['password'].invalid &&
            form.controls['password'].touched
          "
        />
        <img class="password-icon" src="./assets/img/password.svg" />
        <img
          class="password-eye"
          (click)="authService.togglePasswordVisibility()"
          [src]="authService.passwordIcon"
        />
      </div>

      <div class="error-container">
        @if (form.controls['password'].touched &&
        form.controls['password'].invalid) {
        <div class="error-msg">
          @if (form.controls['password'].errors?.['required']) {
          <p role="alert">Please enter a password</p>
          } @if (form.controls['password'].errors?.['minlength']) {
          <p role="alert">Password is too short, min 8 characters</p>
          }
        </div>
        }
      </div>

      <div class="checkbox">
        <label class="container">
          Stay signed in?
          <input
            id="checkbox"
            name="checkbox"
            type="checkbox"
            formControlName="keepLoggedIn"
          />
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="buttons">
        <app-btn-large
          [value]="'Log in'"
          [disabled]="form.invalid"
        ></app-btn-large>
        <app-btn-large
          [value]="'Guest Log in'"
          [disabled]="form.value.mail || form.value.password"
          (click)="guestLogin()"
        ></app-btn-large>
      </div>
    </form>

    <div class="footer">
      <a routerLink="/forgot-password">Forgot password?</a>
      <div class="footer-content">
        <p>New to Videoflix?</p>
        <a routerLink="/register">Sign Up now</a>
      </div>
    </div>
  </div>
</section>
