@use "./../../../../assets/style/colors.scss" as *;
@use "./../../../../assets/style/form.scss" as *;
@use "./../../../../assets/style/auth-layout.scss" as *;
@use "./../../../../assets/style/checkbox.scss" as *;

section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./../../../../assets/img/backgrounds/login.png);
}

.content {
  position: relative;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.footer {
  margin-top: 36px;
  a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .footer-content {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 24px;
    p {
      font-size: 18px;
      font-weight: 400;
    }
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 600px) {
  .footer {
    margin-top: 24px;
    gap: 12px;
    .footer-content {
      margin-top: 18px;
    }
  }
}
