@import "./../../../../assets/style/colors.scss";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 88px;
  padding: 12px;
  z-index: 1;
  a {
    padding: 0 36px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 550px) {
  footer {
    height: fit-content;
    padding: 24px;
  }
}

@media screen and (max-width: 400px) {
  footer {
    a {
      padding: 0 18px;
    }
  }
}
