<section
  class="movie-banner"
  [ngStyle]="{
    'background-image':
      'url(' +
      environmentBaseUrl +
      currentMovie[0]?.thumbnail.replace('.jpg', '_1920p.jpg') +
      ')'
  }"
>
  @if (currentMovie.length > 0) {
  <div class="content">
    <div class="title">{{ currentMovie[0]?.title }}</div>
    <div class="description">
      {{ currentMovie[0]?.description }}
    </div>
    <app-btn-large
      [value]="'Play'"
      [imgPath]="'play'"
      [imgReverse]="true"
      (click)="playMovieId(environmentBaseUrl + currentMovie[0]?.video_file)"
    ></app-btn-large>
  </div>
  }
</section>
