@import "./../../../../../assets/style/colors.scss";

section {
  height: 400px;
}

.movie-banner {
  height: 400px;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.content {
  position: absolute;
  width: 50%;
  top: 120px;
  left: 96px;
  gap: 32px;
  opacity: 0px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 6px;
  text-shadow: 1px 1px 2px $black;
}

.description {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  max-height: 96px;
  height: fit-content;
  overflow: hidden;
  word-wrap: break-word;
  text-shadow: 1px 1px 2px $black;
}

.fullVh {
  height: 100vh;
}

.fullVhBanner {
  height: 200px;
}

.fullVhContent {
  width: calc(100% - 48px);
  top: 200px;
  left: 24px;
}

.fullVhDescription {
  max-height: 250px;
}

.buttons {
  position: absolute;
  bottom: -70px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  gap: 12px;
  .favorite-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: $white;
      transition: 300ms ease-in-out;
      img {
        filter: brightness(0) saturate(100%) invert(18%) sepia(98%)
          saturate(7267%) hue-rotate(342deg) brightness(94%) contrast(119%);
      }
    }
    img {
      width: 28px;
      height: 28px;
    }
  }
}

.filled {
  filter: brightness(0) saturate(100%) invert(18%) sepia(98%) saturate(7267%)
    hue-rotate(342deg) brightness(94%) contrast(119%);
}

.movie-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
