<section
  class="movie-banner"
  [ngStyle]="{
    'background-image':
      'url(' +
      environmentBaseUrl +
      '/media/thumbnails/' +
      currentMovie[0]?.id +
      '/' +
      currentMovie[0]?.file_name +
      '_1080p.jpg' +
      ')'
  }"
>
  @if (currentMovie.length > 0) {
  <div class="content">
    <div class="title">{{ currentMovie[0].title }}</div>
    <div class="description">
      {{ currentMovie[0].description }}
    </div>
    <app-btn-large
      [value]="'Play'"
      [imgPath]="'play'"
      [imgReverse]="true"
      (click)="
        playMovieId(
          environmentBaseUrl +
            '/media/videos/' +
            currentMovie[0]?.id +
            '/' +
            currentMovie[0]?.file_name +
            '_1080p.m3u8'
        )
      "
    ></app-btn-large>
  </div>
  }
</section>
