@import "./../../../../../assets/style/colors.scss";

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  background-color: $black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 88px;
  padding: 10px 48px;
  width: calc(100% - 96px);
  z-index: 2;
  background-color: $black;
}

.logo-mobile {
  display: none;
}

.back-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  transition: filter 300ms ease-in-out;
  img {
    width: 32px;
    height: 32px;
    &:hover {
      filter: brightness(0) saturate(100%) invert(26%) sepia(77%)
        saturate(2342%) hue-rotate(228deg) brightness(83%) contrast(115%);
    }
  }
}

.content {
  max-width: 1024px;
  padding: 48px;
  margin-top: 88px;
  z-index: 1;
}

.headline {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

h1 {
  width: 100%;
  font-size: 61px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  padding: 24px 0 12px 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 24px 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
}

ul {
  padding: 12px;
  li {
    padding: 5px;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 910px) {
  h1 {
    font-size: 42px;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 10px 24px;
    width: calc(100% - 48px);
  }

  .content {
    padding: 24px;
  }

  .logo-full {
    display: none;
  }

  .logo-mobile {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 27px;
  }
}
