<section>
  <div class="content">
    <div class="headline">Forgot your password?</div>
    @if (sendSuccess) {
    <div class="note">
      <p>
        If the email you entered exists on our server, you will receive a
        message with instructions on how to reset your password.
      </p>
      <a href="/login">To the login</a>
    </div>
    } @else {
    <div class="note">
      <p>We will send you an email with instructions to reset your password.</p>
    </div>
    <form
      #taskForm="ngForm"
      (ngSubmit)="onSubmit(taskForm, mail)"
      onsubmit="return false"
    >
      <input
        type="mail"
        id="mail"
        name="mail"
        #mail="ngModel"
        placeholder="Email Address"
        class="custom-input"
        autocomplete="email"
        [(ngModel)]="authData.mail"
        [class.error-border]="
          (!mail.valid && mail.touched) ||
          (mail.touched &&
            !isUserEmailValid(authData.mail.toLowerCase()) &&
            authData.mail.length > 0)
        "
        required
      />
      <div class="error-msg">
        @if (!mail.valid && mail.touched) {
        <p>Please enter your email</p>
        } @else { @if (mail.touched && authData.mail.length > 0 &&
        !isUserEmailValid(authData.mail.toLowerCase())) {
        <p>This is not a valid email format</p>
        }}
      </div>
      <app-btn-large
        [value]="'Send Email'"
        [disabled]="!isUserEmailValid(authData.mail)"
      ></app-btn-large>
    </form>
    }
  </div>
</section>
