<section>
  <div class="content">
    <div class="headline">Forgot your password?</div>
    @if (!queryEmail && !sendMailSuccess && !queryEmailSuccess) {
    <div class="note">
      <p>We will send you an email with instructions to reset your password.</p>
    </div>
    <form
      #taskForm="ngForm"
      (ngSubmit)="onSubmit(taskForm, mail)"
      onsubmit="return false"
    >
      <input
        type="mail"
        id="mail"
        name="mail"
        #mail="ngModel"
        placeholder="Email Address"
        class="custom-input"
        autocomplete="email"
        [(ngModel)]="authData.mail"
        [class.error-border]="
          (!mail.valid && mail.touched) ||
          (mail.touched &&
            !isUserEmailValid(authData.mail.toLowerCase()) &&
            authData.mail.length > 0)
        "
        (click)="this.errorService.clearError()"
        required
      />
      <div class="error-msg">
        @if (!mail.valid && mail.touched) {
        <p>Please enter your email</p>
        } @else { @if (mail.touched && authData.mail.length > 0 &&
        !isUserEmailValid(authData.mail.toLowerCase())) {
        <p>This is not a valid email format</p>
        }}
        <!-- <div *ngIf="errorService.error$ | async as errors">
          <div *ngIf="errors?.['mail']">
            <p>{{ errors["mail"] }}</p>
          </div>
        </div> -->
      </div>
      <app-btn-large
        [value]="'Send Email'"
        [disabled]="!isUserEmailValid(authData.mail)"
      ></app-btn-large>
    </form>
    } @else { @if (sendMailSuccess) {
    <div class="note">
      <p>
        If the email you entered exists on our server, you will receive a
        message with instructions on how to reset your password.
      </p>
      <a routerLink="/login">To the login</a>
    </div>
    } @if (queryEmailSuccess) {
    <div class="note">
      <p>
        Password change successful.<br />You can now log in with your new
        password.
      </p>
      <a routerLink="/login">To the login</a>
    </div>
    } @if (queryEmail && !queryEmailSuccess) {
    <div class="note">
      <p>Please enter your new password and confirm it.</p>
    </div>
    <form
      #taskForm="ngForm"
      (ngSubmit)="onSubmit(taskForm, password)"
      onsubmit="return false"
    >
      <input
        type="password"
        id="password"
        name="password"
        #password="ngModel"
        placeholder="Enter a password"
        autocomplete="new-password"
        [(ngModel)]="authData.password"
        pattern="[^<>]*"
        minlength="6"
        [class.error-border]="
          password.invalid && password.touched && authData.password.length < 6
        "
        required
      />
      <div class="error-msg">
        @if (!password.valid && password.touched && authData.password.length <
        1) {
        <p>Please enter a password</p>
        } @else { @if (authData.password && authData.password.length < 6 &&
        password.touched) {
        <p>Password is too short, min 6 characters</p>
        } }
      </div>
      <input
        type="password"
        id="passwordConfirm"
        name="passwordConfirm"
        #passwordConfirm="ngModel"
        placeholder="Confirm password"
        autocomplete="new-password"
        [(ngModel)]="authData.passwordConfirm"
        pattern="[^<>]*"
        minlength="6"
        [class.error-border]="
          authData.password !== authData.passwordConfirm &&
          passwordConfirm.touched
        "
        required
      />
      <div class="error-msg">
        @if (authData.password !== authData.passwordConfirm &&
        passwordConfirm.touched) {
        <p>The passwords do not match</p>
        }
        <!-- <div *ngIf="errorService.error$ | async as errors">
          <div *ngIf="errors?.['error']" class="error-msg">
            <p>{{ errors["error"] }}</p>
          </div>
        </div> -->
      </div>
      <app-btn-large
        [value]="'Update Password'"
        [disabled]="
          !isUserEmailValid(authData.mail) ||
          authData.password !== authData.passwordConfirm ||
          !authData.password ||
          !authData.passwordConfirm
        "
      ></app-btn-large>
    </form>
    } }
  </div>
</section>
