<section class="login-background">
  <div class="content">
    <div class="headline">Forgot your password?</div>
    @if (!queryEmail && !sendEmailSuccess && !queryEmailSuccess) {
    <div class="note">
      <p>We will send you an email with instructions to reset your password.</p>
    </div>
    <form
      #taskForm="ngForm"
      (ngSubmit)="onSubmit(taskForm, email)"
      onsubmit="return false"
    >
      <div class="email-field">
        <input
          type="email"
          id="email"
          name="email"
          #email="ngModel"
          placeholder="Email Address"
          class="custom-input"
          autocomplete="email"
          [(ngModel)]="authData.email"
          [class.error-border]="
            (!email.valid && email.touched) ||
            (email.touched &&
              !isUserEmailValid(authData.email.toLowerCase()) &&
              authData.email.length > 0)
          "
          (click)="this.errorService.clearError()"
          required
        />
        <img class="email-icon" src="./assets/img/email.svg" />
      </div>
      <div class="error-msg">
        @if (!email.valid && email.touched) {
        <p>Please enter your email</p>
        } @else { @if (email.touched && authData.email.length > 0 &&
        !isUserEmailValid(authData.email.toLowerCase())) {
        <p>This is not a valid email format</p>
        }}
      </div>
      <app-btn-large
        [value]="'Send Email'"
        [disabled]="!isUserEmailValid(authData.email) || authData.send"
      ></app-btn-large>
    </form>
    } @else { @if (sendEmailSuccess) {
    <div class="note">
      <p>
        If the email you entered exists on our server, you will receive a
        message with instructions on how to reset your password.
      </p>
      <a routerLink="/login">To the login</a>
    </div>
    } @if (queryEmailSuccess) {
    <div class="note">
      <p>
        Password change successful.<br />You can now log in with your new
        password.
      </p>
      <a routerLink="/login">To the login</a>
    </div>
    } @if (queryEmail && !queryEmailSuccess) {
    <div class="note">
      <p>Please enter your new password and confirm it.</p>
    </div>
    <form
      #taskForm="ngForm"
      (ngSubmit)="onSubmit(taskForm, password)"
      onsubmit="return false"
    >
      <div class="password-field">
        <input
          [type]="authService.passwordFieldType"
          id="password"
          name="password"
          #password="ngModel"
          placeholder="Enter a password"
          autocomplete="new-password"
          [(ngModel)]="authData.password"
          pattern="[^<>]*"
          minlength="6"
          [class.error-border]="
            password.invalid && password.touched && authData.password.length < 6
          "
          required
        />
        <img class="password-icon" src="./assets/img/password.svg" />
        <img
          class="password-eye"
          (click)="authService.togglePasswordVisibility()"
          [src]="authService.passwordIcon"
        />
      </div>
      <div class="error-msg">
        @if (!password.valid && password.touched && authData.password.length <
        1) {
        <p>Please enter a password</p>
        } @else { @if (authData.password && authData.password.length < 6 &&
        password.touched) {
        <p>Password is too short, min 6 characters</p>
        } }
      </div>
      <div class="password-field">
        <input
          [type]="authService.passwordFieldType"
          id="passwordConfirm"
          name="passwordConfirm"
          #passwordConfirm="ngModel"
          placeholder="Confirm password"
          autocomplete="new-password"
          [(ngModel)]="authData.passwordConfirm"
          pattern="[^<>]*"
          minlength="6"
          [class.error-border]="
            authData.password !== authData.passwordConfirm &&
            passwordConfirm.touched
          "
          required
        />
        <img class="password-icon" src="./assets/img/password.svg" />
        <img
          class="password-eye"
          (click)="authService.togglePasswordVisibility()"
          [src]="authService.passwordIcon"
        />
      </div>
      <div class="error-msg">
        @if (authData.password !== authData.passwordConfirm &&
        passwordConfirm.touched) {
        <p>The passwords do not match</p>
        }
      </div>
      <app-btn-large
        [value]="'Update Password'"
        [disabled]="
          !isUserEmailValid(authData.email) ||
          authData.password !== authData.passwordConfirm ||
          !authData.password ||
          !authData.passwordConfirm ||
          authData.send
        "
      ></app-btn-large>
    </form>
    } }
  </div>
</section>
