@import "./../../../../../assets/style/colors.scss";
@import "./../../../../../assets/style/form.scss";
@import "./../../../../../assets/style/auth-layout.scss";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  position: relative;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

// Overlay

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: rgba($black, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
