<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="password-field">
    <input
      [type]="authService.passwordFieldType"
      id="password"
      formControlName="password"
      placeholder="Enter a password"
      autocomplete="new-password"
      minlength="8"
      [class.error-border]="
        form.controls['password'].invalid && form.controls['password'].touched
      "
    />
    <img class="password-icon" src="./assets/img/password.svg" />
    <img
      class="password-eye"
      (click)="authService.togglePasswordVisibility()"
      [src]="authService.passwordIcon"
    />
  </div>

  <div class="error-container">
    @if (form.controls['password'].touched && form.controls['password'].invalid)
    {
    <div class="error-msg">
      @if (form.controls['password'].errors?.['required']) {
      <p role="alert">Please enter a password</p>
      } @if (form.controls['password'].errors?.['minlength']) {
      <p role="alert">Password is too short, min 8 characters</p>
      }
    </div>
    }
  </div>

  <div class="password-field">
    <input
      [type]="authService.passwordFieldType"
      id="passwordConfirm"
      formControlName="passwordConfirm"
      placeholder="Confirm password"
      autocomplete="new-password"
      minlength="8"
      [class.error-border]="
        form.controls['passwordConfirm'].invalid &&
        form.controls['passwordConfirm'].touched
      "
    />
    <img class="password-icon" src="./assets/img/password.svg" />
    <img
      class="password-eye"
      (click)="authService.togglePasswordVisibility()"
      [src]="authService.passwordIcon"
    />
  </div>

  <div class="error-container">
    @if ( form.controls['passwordConfirm'].touched &&
    form.controls['passwordConfirm'].invalid ) {
    <div class="error-msg">
      @if (form.controls['passwordConfirm'].errors?.['required']) {
      <p role="alert">Please confirm your password</p>
      } @if ( form.controls['password'].value !==
      form.controls['passwordConfirm'].value &&
      form.controls['passwordConfirm'].touched ) {
      <p role="alert">The passwords do not match</p>
      }
    </div>
    }
  </div>

  <app-btn-large
    [value]="'Update Password'"
    [disabled]="form.invalid || form.disabled"
  ></app-btn-large>
</form>
