<section class="home-background">
  <div class="headline">
    <p class="title">Movies, TV shows, and more</p>
    <p class="subtitle">Watch whenever you want wherever you want</p>
    <p class="note">Enter your email to create or restart your subscription.</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="email-field">
      <input
        formControlName="email"
        type="email"
        id="email"
        placeholder="Email Address"
        autocomplete="email"
        [class.error-border]="
          form.controls['email'].invalid && form.controls['email'].touched
        "
      />
    </div>

    <div class="error-container">
      @if (form.controls['email'].touched && form.controls['email'].invalid) {
      <div class="error-msg">
        @if (form.controls['email'].errors?.['required']) {
        <p role="alert">Please enter your email</p>
        } @if (form.controls['email'].errors?.['invalidEmailFormat'] &&
        form.value.email) {
        <p role="alert">This is not a valid email format</p>
        }
      </div>
      }
    </div>

    <app-btn-large
      [value]="'Sign Up'"
      [imgPath]="'arrow_right'"
      [imgReverse]="true"
      [disabled]="form.invalid || form.disabled"
    ></app-btn-large>
  </form>
</section>
