@use "./colors.scss" as *;

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100dvw;
  height: 100dvh;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  width: 520px;
  height: fit-content;
  padding: 32px;
  border-radius: 48px;
  background-color: rgba(30, 28, 33, 0.85);
  .headline {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
  }
}

.note {
  p {
    font-size: 18px;
    font-weight: 400;
    margin: 36px 0 24px 0;
  }
  a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 660px) {
  .content {
    padding: 28px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
    .headline {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 400px) {
  .content {
    padding: 24px;
  }
}
