@use "./../../../../../assets/style/colors.scss" as *;

section {
  margin-top: 12px;
  padding: 0 24px;
  margin: 0 24px;
}

.category {
  position: relative;
  height: 165px;
  padding-top: 12px;
  p {
    font-size: 22px;
    font-weight: 700;
  }
}

// Hide scrollbar

.hide-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  height: 50%;
  padding-bottom: 24px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 400px) {
  .category {
    p {
      font-size: 18px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 600px) {
  section {
    margin: 0 12px;
  }

  .hide-scrollbar {
    height: calc(100% - 120px);
  }
}
