@import "./../../../../assets/style/colors.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 10px 96px;
}

.logo {
  img {
    filter: drop-shadow(1px 1px 3px $black);
    width: 200px;
    height: 32px;
  }
}
