<section
  [ngClass]="{
    fullVh: !isWideScreen
  }"
>
  <div
    class="video-banner"
    [ngClass]="{
      fullVhBanner: !isWideScreen
    }"
  >
    <!-- Fallback image is displayed before the video is loaded -->
    <img *ngIf="!isVideoLoaded" [src]="thumbnailUrl" class="fallback-image" />
    <video
      #videoElement
      *ngIf="currentVideo[0].id"
      [src]="videoUrl"
      poster="{{ thumbnailUrl }}"
      autoplay
      muted
      loop
      playsinline
      class="video-banner"
      (canplay)="onVideoLoad()"
      (error)="onVideoError()"
    ></video>
  </div>

  @if (currentVideo.length > 0) {
  <div
    class="content"
    [ngClass]="{
      fullVhContent: !isWideScreen
    }"
  >
    <div class="title">{{ currentVideo[0].title }}</div>
    <div
      class="description hide-scrollbar"
      [ngClass]="{
        fullVhDescription: !isWideScreen
      }"
    >
      {{ currentVideo[0].description }}
    </div>
    <div class="buttons">
      <app-btn-small
        *ngIf="!isWideScreen"
        [imgPath]="'back'"
        [imgRadius]="'24px'"
        (click)="backToCategory([])"
      ></app-btn-small>
      <app-btn-large
        [value]="'Play'"
        [imgPath]="'play'"
        [imgReverse]="true"
        [disabled]="!isAnyResolutionAvailable()"
        (click)="playVideoId(playUrl, currentVideo[0].id)"
      ></app-btn-large>
      <div class="favorite-img" (click)="toggleLikeVideo(currentVideo[0].id)">
        @if(checkLikeVideos(currentVideo[0].id)) {
        <img
          class="filled"
          src="./../../../../assets/img/favorite-filled.svg"
          alt=""
        />
        } @else {
        <img
          class="outlined"
          src="./../../../../assets/img/favorite-outlined.svg"
          alt=""
        />
        }
      </div>
      @if (!isAnyResolutionAvailable()) {
      <p>
        (The video is being converted)
        <a (click)="refreshPage(currentVideo)">Refresh</a>
      </p>
      }
    </div>
  </div>
  }
</section>
