<section
  [ngClass]="{
    fullVh: !isWideScreen
  }"
>
  <div
    class="video-banner"
    [ngClass]="{
      fullVhBanner: !isWideScreen
    }"
  >
    <!-- Fallback image is displayed before the video is loaded -->
    @if (!isVideoLoaded) {
    <img [src]="thumbnailUrl" class="fallback-image" />
    }

    <!-- Video player -->
    @if (currentVideo) {
    <video
      #videoElement
      [src]="videoUrl"
      poster="{{ thumbnailUrl }}"
      autoplay
      muted
      loop
      playsinline
      class="video-banner"
      (canplay)="onVideoLoad()"
      (error)="onVideoError()"
    ></video>
    }
  </div>

  @if (currentVideo !== null) {
  <div
    class="content"
    [ngClass]="{
      fullVhContent: !isWideScreen
    }"
  >
    <div class="title">{{ currentVideo.title }}</div>
    <div
      class="description hide-scrollbar"
      [ngClass]="{
        fullVhDescription: !isWideScreen
      }"
    >
      {{ currentVideo.description }}
    </div>
    <div class="buttons">
      @if (!isWideScreen) {
      <app-btn-small
        [imgPath]="'back'"
        [imgRadius]="'24px'"
        (click)="backToCategory()"
      ></app-btn-small>
      }
      <app-btn-large
        [value]="'Play'"
        [imgPath]="'play'"
        [imgReverse]="true"
        [disabled]="!isAnyResolutionAvailable()"
        (click)="playVideoId(playUrl, currentVideo)"
      ></app-btn-large>
      <div class="favorite-img" (click)="toggleLikeVideo(currentVideo)">
        @if(checkLikeVideos(currentVideo)) {
        <img
          class="filled"
          src="./../../../../assets/img/favorite-filled.svg"
          alt=""
        />
        } @else {
        <img
          class="outlined"
          src="./../../../../assets/img/favorite-outlined.svg"
          alt=""
        />
        }
      </div>
      @if (!isAnyResolutionAvailable()) {
      <p>
        (The video is being converted)
        <a (click)="refreshPage()">Refresh</a>
      </p>
      }
    </div>
  </div>
  }
</section>
