<section [class.fullVh]="!isWideScreen">
  <div class="video-banner" [class.fullVhBanner]="!isWideScreen">
    <!-- Fallback image -->
    @if (!isVideoLoaded) {
    <img [src]="thumbnailUrl" class="fallback-image" />
    }

    <!-- Video player -->
    @if (currentVideo) {
    <video
      #videoElement
      [src]="previewClipUrl"
      [poster]="thumbnailUrl"
      autoplay
      muted
      loop
      playsinline
      (canplay)="onVideoLoad()"
      (error)="onVideoError()"
    ></video>
    }
  </div>

  @if (currentVideo) {
  <div class="content" [class.fullVhContent]="!isWideScreen">
    <div class="title">{{ currentVideo.title }}</div>
    <div
      class="description hide-scrollbar"
      [class.fullVhDescription]="!isWideScreen"
    >
      {{ currentVideo.description }}
    </div>
    <div class="buttons">
      @if (!isWideScreen) {
      <app-btn-small
        [imgPath]="'back'"
        [imgRadius]="'24px'"
        (click)="backToCategory()"
      ></app-btn-small>
      }
      <app-btn-large
        [value]="'Play'"
        [imgPath]="'play'"
        [imgReverse]="true"
        [disabled]="!isAnyResolutionAvailable"
        (click)="playVideoId(videoUrl, currentVideo)"
      ></app-btn-large>

      <!-- Favorite button -->
      @let isLiked = checkLikeVideos(currentVideo);
      <div
        class="favorite-img"
        (click)="toggleVideoStatus(currentVideo.id, 'favorite')"
      >
        <img
          [src]="
            isLiked
              ? './assets/img/favorite-filled.svg'
              : './assets/img/favorite-outlined.svg'
          "
          [class.filled]="isLiked"
          [class.outlined]="!isLiked"
          alt="favorite"
        />
      </div>

      <!-- Loading indicator -->
      @if (!isAnyResolutionAvailable) {
      <p>
        (The video is being converted)
        <a (click)="refreshPage()">Refresh</a>
      </p>
      }
    </div>
  </div>
  }
</section>
