<section>
  <div class="left"></div>
  <div class="content">
    <img src="./../../../../assets/img/attention.svg" alt="" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aliquam
      ex earum esse, totam placeat omnis sequi sint eveniet maiores explicabo
      necessitatibus, est voluptatibus aperiam velit alias quae! Dicta aliquam
      aspernatur libero maiores tenetur aut ratione et esse nesciunt nostrum,
      cupiditate recusandae perferendis? Sapiente reprehenderit nemo repellendus
      libero adipisci explicabo!
    </p>
  </div>
  <div class="right">
    <div class="line"></div>
    <div class="img">
      <img src="./../../../../assets/img/close.svg" alt="" />
    </div>
  </div>
</section>
