@import "./../../../../assets/style/colors.scss";

section {
  position: relative;
  width: 615px;
  height: fit-content;
  padding: 12px 32px;
  border-radius: 20px;
  background-color: $blue;
  box-shadow: 1px 1px 3px rgba($black, 0.5);
  opacity: 0;
  transform: translateY(100vh);
  animation: slide-in-bottom 500ms forwards;
}

@keyframes slide-in-bottom {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $red;
  z-index: 2;
}

.content {
  display: flex;
  align-items: center;
  width: 82%;
  min-height: 48px;
  margin-left: 24px;
  p {
    font-size: 18px;
    font-weight: 400;
    padding-left: 12px;
    max-height: 72px;
    overflow: hidden;
  }
}

.right {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 48px;
  width: 38px;
  height: 100%;
  .line {
    height: 40%;
    padding: 1px;
    background-color: $white;
  }
  .img {
    padding: 24px;
    width: 24px;
    height: 24px;
    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      &:hover {
        filter: brightness(0) saturate(100%) invert(13%) sepia(90%)
          saturate(7329%) hue-rotate(344deg) brightness(105%) contrast(117%);
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba($black, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
