@import "./../../../../assets/style/colors.scss";

section {
  height: 100vh;
  width: 100vw;
  background-color: $black;
  overflow: hidden;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden; /* Verhindert, dass das Video aus dem Overlay herausragt */
  position: relative;
  video {
    width: 100%;
    height: 100%;
  }
  &:hover .video-header {
    opacity: 1;
  }
}

.video-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.back-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  img {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(312%)
      hue-rotate(234deg) brightness(113%) contrast(100%);
    transition: filter 300ms ease-in-out;
    &:hover {
      filter: brightness(0) saturate(100%) invert(13%) sepia(90%)
        saturate(7329%) hue-rotate(344deg) brightness(105%) contrast(117%);
    }
  }
}

.logo img {
  width: 32px;
  height: auto;
}
