<section>
  @if (currentMovie.length < 0) {
  <!-- If at least one film has been uploaded -->
  @if (playMovie === "") {
  <app-header [browse]="true"></app-header>
  <app-hero-banner
    [currentMovie]="currentMovie"
    (playMovie)="playVideo($event)"
  ></app-hero-banner>
  <app-categories
    [movies]="movies"
    [currentMovie]="currentMovie[0]?.id"
    (currentMovieId)="currentMovieId($event)"
  ></app-categories>
  } @else {
  <div class="video-overlay">
    <div class="video-header">
      <div class="back-button" (click)="closeVideo()">
        <img src="./../../../../assets/img/back.svg" alt="Back" />
      </div>
      <div class="logo">
        <img src="./../../../../assets/img/logo_ci.svg" alt="Logo" />
      </div>
    </div>
    <app-video-player [playMovie]="playMovie"></app-video-player>
  </div>
  } } @else {
  <!-- If the database is empty -->
  <app-header [browse]="true"></app-header>
  <div class="error">
    <h2>Unfortunately there are no films available in the database.</h2>
  </div>
  }
  <div class="add-button">
    <app-btn-small
      [imgPath]="'add'"
      (click)="toggleNewMovieOverview(true)"
    ></app-btn-small>
  </div>
</section>
@if (newMovieOverview) {
<app-new-movie
  (toggleNewMovieOverview)="toggleNewMovieOverview($event)"
></app-new-movie>
}
