<section>
  @if (playMovie === "") {
  <app-header [browse]="true"></app-header>
  <app-hero-banner
    [currentMovie]="currentMovie"
    (playMovie)="playVideo($event)"
  ></app-hero-banner>
  <app-categories
    [movies]="movies"
    [currentMovie]="currentMovie[0].id"
    (currentMovieId)="currentMovieId($event)"
  ></app-categories>
  } @else {
  <div class="video-overlay">
    <div class="video-header">
      <div class="back-button" (click)="closeVideo()">
        <img src="./../../../../assets/img/back.svg" alt="Back" />
      </div>
      <div class="logo">
        <img src="./../../../../assets/img/logo_ci.svg" alt="Logo" />
      </div>
    </div>
    <video width="100%" height="100%" controls autoplay>
      <source
        src="./../../../../assets/movies/{{ playMovie }}"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
  }
</section>
